<h3>Hotels</h3>

<app-hotels-search-form [canSearch]="canSearch" [$countries]="$countries" [$country]="$country" [country]="country"
    [(city)]="city" [(start)]="start" [(end)]="end" (countryChange)="onCountrySelected($event)"
    (searchClick)="onSearchClick()">
</app-hotels-search-form>

<ng-container *ngIf="$hotels | async as hotels">
    <div class="row mb-2">
        <div class="col col-md-4">
            <div class="form-floating">
                <select class="form-select" id="orderBy" [(ngModel)]="orderBy"
                    (ngModelChange)="orderByChnage($event, hotels)">
                    <option *ngFor="let orderBy of orderByValues" [value]="orderBy">{{orderBy}}</option>
                </select>
                <label for="orderBy">Order By</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div *ngFor="let hotel of hotels" class="col-12 col-lg-8 mb-3">
            <app-hotel [hotel]="hotel" (booked)="onBookClicked($event)"></app-hotel>
        </div>
    </div>
</ng-container>